<div *ngIf="storeService.notificarContatos" class="notificar-contatos-container col-12">
    <img class="card-icon" src="./assets/img/icon/SuccessIcon2.png">
    <div class="col-10 col-md-4 col-xs-4 col-sm-4 card notificar-contatos-card">
        <div class="card-body">
            <div class="card-body-container">
                <div class="card-status-message success-msg"><strong>Cadastro realizado com sucesso!</strong></div>
                <div class="alert alert-info card-default-margin">
                    <strong>Nota!</strong> Para notificar seus contatos de que seu número foi clonado, é necessário realizar login na sua conta Google.
                </div>
                <div class="card-default-margin card-div-control">
                    <button type="button" class="btn btn-default btn-inscrever" (click)="notificarContatos('Notificação enviada!')">
                        <span class="span-enviar">NOTIFICAR</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!storeService.notificarContatos" class="notificar-contatos-container col-12">
    <img class="card-icon" src="./assets/img/icon/ErrorIcon.png">
    <div class="col-10 col-md-4 col-xs-4 col-sm-4 card notificar-contatos-card">
        <div class="card-body">
            <div class="card-body-container">
                <div class="card-status-message error-msg"><strong>Erro ao realizar cadastro!</strong></div>
                <div class="alert alert-info card-default-margin">
                    <strong>Nota!</strong> Por favor entre em contato com o administrador.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="col-12">
        <div class="col-md-12 col-xs-12 col-sm-12 div-main-container-link">
            <div class="col-12 div-container-links">
                <div class="col-md-8 col-xs-12 col-sm-12 div-links">
                    <img class="link-icon" src="./assets/img/icon/FacebookIcon.png">
                    <img class="link-icon" src="./assets/img/icon/InstagramIcon.png">
                    <img class="link-icon" src="./assets/img/icon/TelIcon.png">
                    <img class="link-icon" src="./assets/img/icon/MailIcon.png">
                    <img class="link-icon" src="./assets/img/icon/WhatsAppIcon.png">
                </div>
            </div>
        </div>
        <div class="col-12 container-contato">
            <div class="col-12 div-contato">
                <div class="col-12 div-contato-text">
                    <div class="col-12 div-contato-text-container">
                        <div class="col-12">
                            <span class="span-contato">ENTRE EM CONTATO</span>
                        </div>
                    </div>
                    <div class="col-12 div-contato-text-container">
                        <div class="col-md-8 col-xs-10 col-sm-8 div-faq-text">
                            <span>Envie abaixo seu e-mail e entraremos em contato.</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 div-contato-action">
                    <div class="row col-md-6 col-xs-6 col-sm-8 form-email-contato">            
                        <input type="text" class="form-control form-text-box" placeholder="Insira o email">
                        <button type="button" class="btn btn-success">
                            <b>ENVIAR EMAIL</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 div-rodape">
    <div class="col-12 div-logo-branco">
        <img class="logo-branco" src="./assets/img/logo/LogoFuiClonadoBranco.png">
    </div>
</div>