.li{
    padding-top: 10px;
}

.form-email-contato{
    padding-top: 20px;
}
.btn-success{
    background-color:#05C0A3;
}

.default-container {
    padding-right: 0px;
    padding-left: 0px;
}

.div-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 560px;
    background: transparent linear-gradient(0deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    padding-right: 0px;
    padding-left: 0px;
}
li {
    list-style-type: none;
  }

ngb-accordion {
    text-align: center;
}  

.div-contato2 {
    display: flex;
    flex-direction: column;
}

.span-title {
    text-align: center;
    font-weight: 700;
    font-size: 5em;
    font-style: italic;
    padding-right: 0px;
    padding-left: 0px;
    color: #FFFFFF;
    margin-top: -80px;
}

.span-perguntas-populares {
    font-size: 3em;
    font-weight: 700;
    color: #3C5768;
    font-style: italic;
}

.div-perguntas-recentes {
    margin-top: 150px;
}

.span-perguntas-recentes {
    font-size: 3em;
    font-weight: 700;
    color: #3C5768;
    font-style: italic;
}

.div-retangulo-branco {    
    padding-left: 0;
    padding-right: 0;
    height: 180px;
    width: 100%;
    margin-top: -107px;
}

.div-btn-enviar-contato {
    margin-top: 50px;
    text-align: center;
}

.span-enviar {
    font-size: 2em;
    color: #FFFFFF;
}

.img-retangulo-branco {
    width: 100%;
}

.div-form-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -50px;
    justify-content: center;
}

.default-form-group {
    margin-top: 50px;
}

.div-entre-em-contato {
    font-size: 5em;
    font-weight: 700;
    color: #3C5768;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
}

.div-texto-contato {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: #3C5768;
}

.div-controles-contato {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin-top: 30px;
}

.lbl-form-contato {
    font-size: 2em;
    font-weight: 400;
    color: #3C5768;
}

.btn-inscrever {
    width: 240px;
    height: 60px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.form-text-box {
    height: 60px;
}

.form-textarea-bot {
    height: 150px;
}

.ng-invalid.ng-touched:not(form) {
    border-color: red;
}

.label-error {
    color: red!important;
}

.field-error {
    color: red;
    font-weight: 300;
    margin-left: 5px;
    position: absolute;
}

.div-span-telefone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 130px;
}

.div-span-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-container-links {
    margin-top: 80px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.span-links {
    font-size: 2em;
    font-weight: 400;
    color: #3C5768;
}

.div-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:800px;
    height: 80px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    border-radius: 64px;
    opacity: 1;
}

.link-icon {
    height: 60px;
    width:60px;
    cursor: pointer;
}

.contato-phone-icon {
    height: 50px;
    margin-right: 15px;
}

.div-rodape {
    margin-top: 100px;
    background: #3C5768 0% 0% no-repeat padding-box;
    opacity: 1;
}

.div-logo-branco {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-branco {
    margin-top: 100px;
    margin-bottom: 80px;
}

.form-text-box {
    width: 390px;
    height: 50px;
}

.div-contato-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.span-contato {
    font-size: 4em;
    font-weight: 400;
    color: #3C5768;
}

.div-faq-text {
    font-size: 2em!important;
    color: #3C5768!important;
}

.div-contato-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-contato-text-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.container-contato {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .div-contato{
        display:flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 250px;
    }

    .div-retangulo-branco {    
        padding-left: 0;
        padding-right: 0;
        height: 100px;
        width: 100%;
        margin-top: -50px;
    }

    .span-title {
        text-align: center;
        font-weight: 700;
        font-size: 2em;
        font-style: italic;
        padding-right: 0px;
        padding-left: 0px;
        color: #FFFFFF;
        margin-top: -80px;
    }

    .div-form-contato{
        padding-top: -200px;
    }

    .div-perguntas-populares {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .span-perguntas-populares {
        font-size: 2em;
        font-weight: 400;
        color: #3C5768;
    }

    .div-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width:250px;
        height: 40px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        border-radius: 64px;
        opacity: 1;
    }

    .div-container-links {
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .div-main-container-link{
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    .link-icon {
        height: 30px;
        width:30px;
        cursor: pointer;
    }

    .span-contato {
        font-size: 2em;
        font-weight: 400;
        color: #3C5768;
    }

    .div-faq-text {
        font-size: 1em!important;
        color: #3C5768!important;
        padding-top:30px;
    }
    .form-email-contato{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .btn-success {
        margin-top: 20px;
    }
  }

  @media only screen and (max-width: 400px) {


    .card-faq {
        padding-left: 5px;
        padding-right: 5px;
    }

    .ngbTitleCard{
        font-size: 13px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .ngbContentCard{
        font-size: 11px;
    }

    .logo-branco {
        width: 300px;
    }

  }