.notificar-contatos-container {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

.notificar-contatos-card {
    margin-top: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 0px 20px #00000033;
    color: #3C5768;
}

.card-status-message {
    margin-top: 75px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

.card-default-margin {
    margin-top: 20px;
}

.card-div-control {
    text-align: center;
}

.success-msg {
    color: #45af8b;
}

.error-msg {
    color: #de4260;
}

.card-icon {
    position: absolute;
    margin-top: 20px;
    width: 150px;
    z-index: 10;
}

.card-body-container {
    display: flex;
    flex-direction: column;
}

.div-container-links {
    margin-top: 80px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.span-links {
    font-size: 2em;
    font-weight: 400;
    color: #3C5768;
}

.div-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    border-radius: 64px;
    opacity: 1;
}

.link-icon {
    height: 60px;
    cursor: pointer;
}

.contato-phone-icon {
    height: 50px;
    margin-right: 15px;
}

.div-entre-em-contato {
    font-size: 5em;
    font-weight: 700;
    color: #3C5768;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
}

.div-texto-contato {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: #3C5768;
}

.div-controles-contato {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin-top: 30px;
}

.lbl-form-contato {
    font-size: 2em;
    font-weight: 400;
    color: #3C5768;
}

.btn-inscrever {
    width: 240px;
    height: 60px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.div-btn-enviar-contato {
    margin-top: 50px;
    text-align: center;
}

.span-enviar {
    font-size: 2em;
    color: #FFFFFF;
}

.form-text-box {
    height: 60px;
    width:400px;
}

.span-contato {
    font-size: 4em;
    font-weight: 400;
    color: #3C5768;
}

.div-contato-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-faq-text {
    font-size: 2em!important;
    color: #3C5768!important;
}

.div-contato-text-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.div-contato-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.div-contato2 {
    display: flex;
    flex-direction: column;
}

.container-contato {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.div-rodape {
    margin-top: 100px;
    background: #3C5768 0% 0% no-repeat padding-box;
    opacity: 1;
}

.div-logo-branco {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-branco {
    margin-top: 100px;
    margin-bottom: 80px;
}