<div class="default-container col-12">
    <div>
        <div class="col-12 div-contato">
            <div class="col-md-4 col-xs-2"></div>
            <div class="col-md-4 col-xs-8 col-sm-8 titcontato"><span class="span-title">ENTRE EM CONTATO</span></div>
            <div class="col-md-4 col-xs-2"></div>
        </div>
        <div class="col-12 div-retangulo-branco">
            <img class="img-retangulo-branco" src="./assets/img/bg/RetanguloArredondadoBG.png">
        </div>
    </div>
    <div class="col-12 div-contato-form">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="div-form-contato">
            <div class="col-md-2 col-xs-1"></div>
            <div class="col-md-8 col-xs-10">
                <div class="form-group col-12 default-form-group">
                    <label for="nome" class="control-label lbl-form-contato" [class.label-error]="!nome.valid && nome.touched">Nome</label>
                    <input type="text" ngModel name="nome" required #nome="ngModel" class="form-control form-text-box col-12" id="nome" placeholder="Insira seu nome completo">
                    <div class="field-error" *ngIf="!nome.valid && nome.touched">O campo Nome é obrigatório</div>
                </div>
                <div class="form-group col-12 default-form-group">
                    <label for="email" class="control-label lbl-form-contato" [class.label-error]="!email.valid && email.touched">Email</label>
                    <input type="email" ngModel email name="email" required #email="ngModel" class="form-control form-text-box col-12" id="email" placeholder="Insira o email">
                    <div class="field-error" *ngIf="!email.valid && email.touched">O campo Nome é obrigatório</div>
                </div>
                <div class="form-group col-12 default-form-group">
                    <label for="mensagem" class="control-label lbl-form-contato" [class.label-error]="!mensagem.valid && mensagem.touched">Mensagem</label>
                    <textarea ngModel name="mensagem" required #mensagem="ngModel" class="form-control form-textarea-bot col-12" id="nome" placeholder="Insira a mensagem"></textarea>
                    <div class="field-error" *ngIf="!mensagem.valid && mensagem.touched">O campo Mensagem é obrigatório</div>
                </div>
                <div class="div-btn-enviar-contato">
                    <button type="submit" class="btn btn-default btn-enviar">
                        <span class="span-enviar">ENVIAR</span>
                    </button>
                </div>
            </div>
            <div class="col-md-2 col-xs-1"></div>
        </form>
    </div>
    <div class="col-12">
        <div class="col-12 div-span-telefone">
            <img class="contato-phone-icon" src="./assets/img/icon/PhoneIcon.png">
            <span class="span-links">+55 21 XXXX-XXXX</span>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 div-main-container-link">
            <div class="col-12 div-container-links">
                <div class="col-12 div-links">
                    <img class="link-icon" src="./assets/img/icon/FacebookIcon.png">
                    <img class="link-icon" src="./assets/img/icon/InstagramIcon.png">
                    <img class="link-icon" src="./assets/img/icon/TelIcon.png">
                    <img class="link-icon" src="./assets/img/icon/MailIcon.png">
                    <img class="link-icon" src="./assets/img/icon/WhatsAppIcon.png">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 div-rodape">
        <div class="col-12 div-logo-branco">
            <img class="logo-branco" src="./assets/img/logo/LogoFuiClonadoBranco.png">
        </div>
    </div>
</div>
