<div class="modal-header div-header-modal">
    <img *ngIf="!storeService.modalEnviarError" class="modal-icon" src="./assets/img/icon/SuccessIcon2.png">
    <img *ngIf="storeService.modalEnviarError" class="modal-icon" src="./assets/img/icon/ErrorIcon.png">
</div>
<div class="modal-body div-body-modal">
    <span *ngIf="!storeService.modalEnviarError">Número registrado com sucesso!</span>
    <span *ngIf="storeService.modalEnviarError">Erro ao registrar número!</span>
</div>
<div class="modal-footer div-footer-modal">
    <button type="button" class="btn btn-default btn-compartilhar-modal" (click)="openShareDialog()">
        <img class="compartilhar-icon" src="./assets/img/icon/FacebookIcon.png">
        <span class="span-compartilhar ">COMPARTILHAR</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">FECHAR</button>
</div>
