<div class="default-container col-12">
    <div>
        <div class="col-12 div-contato">
            
            <div class="col-12 div-recnum">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="div-form">
                    <div class="col-md-12 col-xs-12 col-sm-12 titlerecnum">
                    <span class="span-title">RECUPEREI <br>MEU NÚMERO</span>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 subtitlerecnum">
                    <span class="form-span-title">INFORME SEU NÚMERO</span>
                    </div>
                    <div class="col-md-12 col-xs-6 offset-xs-6 form-group">
                        <!-- <input type="text" ngModel name="numero" #numero="ngModel" required [textMask]="{mask: telMask}" class="form-control form-text-box" id="numero" placeholder="Insira seu número com DDD"> -->
                        <input type="text" ngModel name="numero" #numero="ngModel" class="form-control form-text-box" id="numero" placeholder="Insira seu número com DDD">
                        <div class="field-error" *ngIf="!numero.valid && numero.touched">O campo Número é obrigatório</div>
                    </div>
                    <div class="divbtnenviar">
                        <button type="submit" class="btn btn-default btn-enviar">
                            <span class="span-enviar">ENVIAR</span>
                        </button>
                    </div>
                </form>
            </div>

        </div>

        

        <div class="col-12 div-retangulo-branco">
            <img class="img-retangulo-branco" src="./assets/img/bg/RetanguloArredondadoBG.png">
        </div>
    </div>
    
    <div class="col-md-12 col-xs-12 col-sm-12 div-main-container-link">
        <div class="col-12 div-container-links">
            <div class="col-12 div-links">
                <img class="link-icon" src="./assets/img/icon/FacebookIcon.png">
                <img class="link-icon" src="./assets/img/icon/InstagramIcon.png">
                <img class="link-icon" src="./assets/img/icon/TelIcon.png">
                <img class="link-icon" src="./assets/img/icon/MailIcon.png">
                <img class="link-icon" src="./assets/img/icon/WhatsAppIcon.png">
            </div>
        </div>
    </div>
    <div class="col-12 container-contato">
        <div class="col-12 div-contato2">
            <div class="col-12 div-contato-text">
                <div class="col-12 div-contato-text-container">
                    <div class="col-12">
                        <span class="span-contato">ENTRE EM CONTATO</span>
                    </div>
                </div>
                <div class="col-12 div-contato-text-container">
                    <div class="col-2"></div>
                    <div class="col-8 div-faq-text">
                        <span>Envie abaixo seu e-mail e entraremos em contato.</span>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 div-contato-action">
            
                <div class="row col-md-6 form-email-contato">
                    <input type="text" class="form-control form-text-box" placeholder="Insira o email">
                    <button type="button" class="btn btn-success">
                        <b>ENVIAR EMAIL</b>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 div-rodape">
        <div class="col-12 div-logo-branco">
            <img class="logo-branco" src="./assets/img/logo/LogoFuiClonadoBranco.png">
        </div>
    </div>
</div>  
        

