<div class="default-container col-12">
    <div class="contianer-info col-12">
        <div class="div-verificar-title col-12">
            <span>VERIFIQUE O NÚMERO</span>
        </div>
        <div class="div-sub-title col-12">
            <span>VERIFIQUE SE O NÚMERO QUE VOCÊ BUSCA ESTÁ CLONADO</span>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="div-form">
            <div class="form-group">
                <div class=" div-verificar-text col-12">
                    <input type="text" ngModel name="numero" #numero="ngModel" required [textMask]="{mask: telMask}" class="form-control form-verificar-text-box col-6" id="numero" placeholder="Insira o número com DDD">
                    <!-- <div class="field-error" *ngIf="!numero.valid && numero.touched">O campo Número é obrigatório</div> -->
                </div>
            </div>
            <div class="col-12 div-btn-verificar">
                <button type="submit" class="btn btn-primary btn-verificar">
                    <span class="span-enviar">ENVIAR</span>
                </button>
            </div>
            <div class="col-6 offset-5" style="padding-top: 10px;">
            <a href="#" class="recupereinum"> > <b>Recuperei meu número</b></a>
            </div>
        </form>
    </div>
    <div class="imagem-bg">
        <img class="default-container col-12" src="./assets/img/bg/SiteFuiClonadoVerificarBG.png">
    </div>
    <div class="col-12 div-faq">
        <div class="col-12 div-faq-title">
            <span class="col-12 span-title-faq">FAQ</span>
        </div>
        <div class="col-12 container-card-estatisticas">
            <div class="col-6 div-card-faq">
                <div class="col-10 card-faq">
                    <div class="col-12 card-faq-span-title">
                        <span>Perguntas Frequentes</span>
                    </div>
                    <div class="col-12">
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 div-card-faq">
                <div class="col-10 card-faq">
                    <div class="col-12 card-faq-span-title">
                        <span>Perguntas Frequentes</span>
                    </div>
                    <div class="col-12">
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                        <div class="div-span-faq">
                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer elit.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 container-card-links">
            <div class="col-12 div-container-links">
                <div class="col-10 div-links">
                    <img class="link-icon" src="./assets/img/icon/FacebookIcon.png">
                    <img class="link-icon" src="./assets/img/icon/InstagramIcon.png">
                    <img class="link-icon" src="./assets/img/icon/TelIcon.png">
                    <img class="link-icon" src="./assets/img/icon/MailIcon.png">
                    <img class="link-icon" src="./assets/img/icon/WhatsAppIcon.png">
                </div>
            </div>
        </div>
        <div class="col-12 container-contato">
            <div class="col-12 div-contato">
                <div class="col-12 div-contato-text">
                    <div class="col-12 div-contato-text-container">
                        <div class="col-12">
                            <span class="span-contato">ENTRE EM CONTATO</span>
                        </div>
                    </div>
                    <div class="col-12 div-contato-text-container">
                        <div class="col-2"></div>
                        <div class="col-8 div-faq-text">
                            <span>Envie abaixo seu e-mail e entraremos em contato.</span>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <div class="col-12 div-contato-action">

                <div class="row col-6" style="padding-top: 20px;">            
                        <input type="text" class="form-control form-text-box" placeholder="Insira o email">
                        <button type="button" class="btn btn-success" style="background-color:#05C0A3;" >
                            <b>ENVIAR EMAIL</b>
                        </button>
                </div>



                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 div-rodape">
        <div class="col-12 div-logo-branco">
            <img class="logo-branco" src="./assets/img/logo/LogoFuiClonadoBranco.png">
        </div>
    </div>
</div>