<div class="default-container col-12">
    <div class="contianer-info col-12">
        <div class="div-verificar-title col-12">
            <span class="spantit">VERIFIQUE O NÚMERO</span>
        </div>
        <div class="div-sub-title col-12">
            <span class="spansubtit">VERIFIQUE SE O NÚMERO QUE VOCÊ BUSCA ESTÁ CLONADO</span>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="div-form">
            <div class="form-group">
                <div class=" div-verificar-text col-12">
                    <input type="text" ngModel name="numero" #numero="ngModel" required [textMask]="{mask: telMask}" class="form-control form-verificar-text-box col-md-6 col-xs-10" id="numero" placeholder="Insira o número com DDD">
                    <!-- <div class="field-error" *ngIf="!numero.valid && numero.touched">O campo Número é obrigatório</div> -->
                </div>
            </div>
            <div class="col-12 div-btn-verificar">
                <button type="submit" class="btn btn-primary btn-verificar">
                    <span class="span-enviar">ENVIAR</span>
                </button>
            </div>
            <div class="col-6 offset-5" style="padding-top: 10px;">
            <a href="#" class="recupereinum"> > <b>Recuperei meu número</b></a>
            </div>
        </form>
    </div>
    <div class="imagem-bg">
        <img class="default-container col-12" src="./assets/img/bg/SiteFuiClonadoVerificarBG.png">
    </div>
    <div class="col-md-12 col-xs-12 div-faq">
        <div class="col-12 div-faq-title">
            <span class="col-12 span-title-faq">FAQ</span>
        </div>
        <div class="col-md-12 col-xs-12 container-card-estatisticas" style="height:auto;">
            <div class="col-md-6 col-xs-12 div-card-faq">
                <div class="col-md-10 col-xs-12 card-faq" style="height:auto; padding-bottom: 30px;">
                    <div class="col-12 card-faq-span-title">
                        <span>Perguntas Frequentes</span>
                    </div>
                    <div class="col-12">
                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <!-- <ngb-panel title="O Fui Clonado recupera o meu número?"> -->
                            <ngb-panel>    
                                <ng-template ngbPanelTitle>
                                    <div>O Fui Clonado recupera o meu número?</div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    R: NÃO, apenas ajudamos você a comunicar de forma mais rápida a todos os seus contatos e aos seus amigos do Facebook.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>    
                                <ng-template ngbPanelTitle>
                                    <div>O Fui Clonado liga para mim solicitando algum dado<br> ou dinheiro?</div>
                                </ng-template>
                            <!-- <ngb-panel title="O Fui Clonado liga para mim solicitando algum dado ou dinheiro?"> -->
                                <ng-template ngbPanelContent>
                                    R: NÃO, somos um grupo de especialista em tecnologia da informação e criamos o Fui Clonado para ajudar os usuários do Whatsapp.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>    
                                <ng-template ngbPanelTitle>
                                    <div>Como retiro meu telefone da base de clonados depois <br>que recuperei meu Whatsapp?</div>
                                </ng-template>
                            <!-- <ngb-panel title="Como retiro meu telefone da base de clonados depois que recuperei meu Whatsapp?"> -->
                              <ng-template ngbPanelContent>
                                R: Clicando no link “Verificar” do Menu Superior e no link “recuperei meu número”, você receberá um SMS para validar se o número telefônico é mesmo seu e assim terá seus dados retirados do nosso banco de dados.
                              </ng-template>
                            </ngb-panel>
                            
                            <ngb-panel>    
                                <ng-template ngbPanelTitle>
                                    <div>Quais os passos para informar que eu fui clonado?</div>
                                </ng-template>
                            <!-- <ngb-panel title="Quais os passos para informar que eu fui clonado?"> -->
                                <ng-template ngbPanelContent>
                                    <li style="padding-top: 10px;">
                                        <ul>1. Inserir suas informações na página principal do site.</ul>                         
                                        <ul>2. Informar código recebido por SMS.</ul>   
                                        <ul>3. Efetuar login com o google para ter acesso a sua lista de contatos.</ul>
                                        <ul>4. Opção: Compartilhar nas redes socias</ul>
                                      </li> 
                                </ng-template>
                              </ngb-panel>
                            </ngb-accordion>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 div-card-faq">
                <div class="col-md-10 col-xs-12 card-faq" style="height:auto; padding-bottom: 30px;">
                    <div class="col-12 card-faq-span-title">
                        <span>Perguntas Frequentes</span>
                    </div>
                    <div class="col-12">
                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel>    
                                <ng-template ngbPanelTitle>
                                    <div>Os meus contatos do Google Contato eles recebem<br> quantos avisos?</div>
                                </ng-template>
                            <!-- <ngb-panel title="Os meus contatos do Google Contato eles recebem quantos avisos?"> -->
                                <ng-template ngbPanelContent>
                                    R: Disparamos apenas um aviso para cada contato, somente no ato do cadastro, não disparamos nenhuma publicidade ou spam para seus contatos, vale lembrar também que os contatos registrados em seu Cartão SIM. Caso queira migra do cartão SIM para o Google Contatos para depois cadastrar em nossa base segue o passo a passo:
                                    Basta estar com sua conta Google ativa em seu Android e seguir os passos abaixo:
                                    <li style="padding-top: 10px;">
                                        <ul>1. Depois de adicionar seu chip (SIM Card) vá até seus Contatos.</ul>                         
                                        <ul>2. Abra o menu do app.</ul>   
                                        <ul>3. Selecione Importar/Exportar.</ul>
                                        <ul>4. Opção Importar do cartão SIM.</ul>
                                        <ul>5. Aparecerá uma tela de “Salvar contatos no” e então você seleciona sua conta Google.</ul>
                                      </li> 
                                         
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel>    
                                <ng-template ngbPanelTitle>
                                    <div>O Fui Clonado pede meu código de verificação do <br>Whatsapp?</div>
                                </ng-template>
                            <!-- <ngb-panel title="O Fui Clonado pede meu código de verificação do Whatsapp?"> -->
                                <ng-template ngbPanelContent>
                                    R: NÃO, em momento algum pedimos nenhum dado do usuário seja por e-mail ou ligação.
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel>    
                                <ng-template ngbPanelTitle>
                                    <div>O número que consultei não consta na base de fui <br>clonado, significa que ele não foi clonado?</div>
                                </ng-template>
                            <!-- <ngb-panel title="O número que consultei não consta na base de fui clonado, significa que ele não foi clonado?"> -->
                                <ng-template ngbPanelContent>
                                    R: NÃO, ele pode ter sido clonado, porém ainda não deu tempo do responsável real pelo número cadastrar em nossa base. 
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>    
                                <ng-template ngbPanelTitle>
                                    <div>O Fui Clonado pede autorização a galeria de fotos<br> do meu celular?</div>
                                </ng-template>
                            <!-- <ngb-panel title="O Fui Clonado pede autorização a galeria de fotos do meu celular?"> -->
                                <ng-template ngbPanelContent>
                                    R: NÃO, em momento algum solicitamos acesso a galeria de fotos do seu celular. 
                                </ng-template>
                            </ngb-panel>
                            
                        </ngb-accordion>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-12 container-card-links">
            <div class="col-12 div-container-links">
                <div class="col-10 div-links">
                    <img class="link-icon" src="./assets/img/icon/FacebookIcon.png" height="5px;" width="40px;">
                    <img class="link-icon" src="./assets/img/icon/InstagramIcon.png" height="5px;" width="40px;">
                    <img class="link-icon" src="./assets/img/icon/TelIcon.png" height="5px;" width="40px;">
                    <img class="link-icon" src="./assets/img/icon/MailIcon.png" height="5px;" width="40px;">
                    <img class="link-icon" src="./assets/img/icon/WhatsAppIcon.png" height="5px;" width="40px;">
                </div>
            </div>
        </div>
        <div class="col-12 container-contato">
            <div class="col-12 div-contato">
                <div class="col-12 div-contato-text">
                    <div class="col-12 div-contato-text-container">
                        <div class="col-12">
                            <span class="span-contato">ENTRE EM CONTATO</span>
                        </div>
                    </div>
                    <div class="col-12 div-contato-text-container">
                        <div class="col-2"></div>
                        <div class="col-8 div-faq-text">
                            <span>Envie abaixo seu e-mail e entraremos em contato.</span>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <div class="col-12 div-contato-action">

                <div class="row col-6 form-email-contato" style="padding-top: 20px;">            
                        <input type="text" class="form-control form-text-box" placeholder="Insira o email">
                        <button type="button" class="btn btn-success" style="background-color:#05C0A3;" >
                            <b>ENVIAR EMAIL</b>
                        </button>
                </div>



                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 div-rodape">
        <div class="col-12 div-logo-branco">
            <img class="logo-branco" src="./assets/img/logo/LogoFuiClonadoBranco.png">
        </div>
    </div>
</div>