

<div class="col-12 default-container">
    <div class="col-md-12 col-xs-12 col-sm-12 div-nav-bar">
        <div class="col-md-2 col-xs-2 col-sm-2 div-logo">
            <img class="logo" src="./assets/img/logo/LogoFuiClonado.png">
        </div>
          <div *ngIf="!mobile" class="col-md-9 col-xs-9 col-sm-9 div-menubar">
            <div class="row collapse show multi-collapse" id="multiCollapseExample1">
                <a  class="default-menu-item-first" routerLink='home'>Fui Clonado</a>
                <a  class="default-menu-item" routerLink="verificarNumero">Verificar Número</a>
                <a  class="default-menu-item" routerLink="faq">FAQ</a>
                <a  class="default-menu-item-last" routerLink="contato">Contato</a>
            </div>
        </div>
        
        <div *ngIf="!mobile" class="col-md-1 col-xs-1 col-sm-1 div-menubar-button">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-controls="multiCollapseExample1" aria-expanded="false">                
            
                <img class="iconbarrasuperior" src="./assets/img/icon/icone-barra-superior.png">

                </button>
        </div>  

        <div *ngIf="mobile" class="col-xs-8 dropdown">
            <!-- <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                <!-- <img style="height:60px; width:60px;" src="./assets/img/icon/icone-barra-superior.png"> -->
                <!-- <a href="menu" id="toggle"><span></span></a>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu">
                <a class="dropdown-item" routerLink="home">Fui Clonado</a>
                <a class="dropdown-item" routerLink="verificarNumero">Verificar Número</a>
                <a class="dropdown-item" routerLink="faq">FAQ</a>
                <a class="dropdown-item" routerLink="contato">Contato</a>
            </div>    -->

            <a class="btn btn-default dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-align-justify fa-3x"></i></a>
            
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="home">Fui Clonado</a>
                <a class="dropdown-item" routerLink="verificarNumero">Verificar Número</a>
                <a class="dropdown-item" routerLink="faq">FAQ</a>
                <a class="dropdown-item" routerLink="contato">Contato</a>
            </div>
        </div>

    </div>
    
</div>

<script>
function topNavToggle() {
    var topNavList = document.getElementById("topNavList");
    var topNavToggle = document.getElementById("topNavToggle");
    var topNavListLi = document.querySelectorAll("#topNavList li");
    
    if (topNavList.className === "nav-top__nav-list") {
        topNavList.className += " responsive";
        topNavToggle.className += " toggled";
        for (let i = 0; i < topNavListLi.length; i++) {
          var hiddenAttribute = document.createAttribute("hidden");
          //topNavListLi[i].setAttribute('hidden',false);
          topNavListLi[i].setAttributeNode(hiddenAttribute);
        }
    } else {
        topNavList.className = "nav-top__nav-list";
        topNavToggle.className = "nav-top__toggle-button";
        setTimeout(function(){
          for (let i = 0; i < topNavListLi.length; i++) {
            //topNavListLi[i].setAttribute('hidden',true);
            topNavListLi[i].removeAttribute('hidden');
          }
        },300);
    }
}
</script>