.default-container {
    padding-right: 0px;
    padding-left: 0px;
}

.div-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 160px;
}

.div-logo {
    display: flex;
    justify-content: center;
}

.logo{
    width: 300px;
    height: 115px;
}

.div-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 0px;
    padding-left: 0px;
}

.default-menu-item {
    font-weight: bold;
    font-size: 2rem;
    color: #3C5768;
    display: flex;
    align-items: center;
}

.menu-icon {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.div-white-line {
    width: 57px;
    height: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    margin-top: 8px;
    opacity: 1;
}

.div-half-white-line {
    width: 28px;
    height: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    margin-top: 8px;
    margin-left: 27px;
    opacity: 1;
}
