.default-container {
    padding-right: 0px;
    padding-left: 0px;
}

.div-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 160px;
}

.div-logo {
    display: flex;
    justify-content: center;
}

.logo{
    width: 300px;
    height: 115px;
}

.div-menu {
    flex-direction: row;
    padding-right: 0px;
    padding-left: 0px;
}

.default-menu-item {
    font-weight: bold;
    font-size: 2rem;
    color: #3C5768;
    display: flex;
    align-items: center;
}


button:hover, button:focus {
    border: none;
    outline: none;
  }



