
.fa-align-justify{
    color:#1ABC9C;
}

.dropdown-item.active, .dropdown-item:active{
    background-color:#1ABC9C ;
} 

.dropdown-item.active, .dropdown-item:hover {
    background-color:#1ABC9C ;
}  

.dropdown-menu{
    width:371px;
    left:-269px;
    opacity:0;
    -webkit-animation: fadeIn 0.5s ease-in-out;
    -moz-animation: fadeIn 0.5s ease-in-out;
    -o-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out; 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}


.dropdown-menu-delay{	
    -webkit-animation-delay:0.5s;
    -moz-animation-delay:0.5s;
    -o-animation-delay:0.5s;
    animation-delay:0.5s;
}


.default-container {
    margin-right: 0px;
    margin-left: 0px;
}

.div-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 160px;
}

.div-logo {
    display: flex;
    justify-content: center;
}

.logo{
    width: 200px;
    height: 72px;
}

.iconbarrasuperior{
    height:60px; 
    width:60px;
}

.div-menu {
    flex-direction: row;
    padding-right: 0px;
    padding-left: 0px;
}

.default-menu-item {
    font-weight: bold;
    font-size: 2rem;
    color: #3C5768;
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.default-menu-item-first {
    font-weight: bold;
    font-size: 2rem;
    color: #3C5768;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 30px;
}

.default-menu-item-last {
    font-weight: bold;
    font-size: 2rem;
    color: #3C5768;
    display: flex;
    align-items: center;
    padding-right: 5px;
}


button:hover, button:focus {
    border: none;
    outline: none;
}

@media only screen and (max-width: 768px) {
    .logo{
        width: 200px;
        height: 72px;
    }
  
    .default-container {
        margin-right: 1px;
        margin-left: 1px;
    }
  
    .default-menu-item {
        font-weight: bold;
        font-size: 1rem;
        color: #3C5768;
        display: flex;
        align-items: center;
        padding-right: 30px;
    }

    .default-menu-item-first {
        font-weight: bold;
        font-size: 1rem;
        color: #3C5768;
        display: flex;
        align-items: left;
        padding-left: 140px;
        padding-right: 20px;
    }

    .default-menu-item-last {
        font-weight: bold;
        font-size: 1rem;
        color: #3C5768;
        display: flex;
        align-items: center;
    }

    .div-logo {
        display: flex;
        justify-content: left;
    }

    .div-menubar-button{
        padding-right: 10px;
    }
}
  
@media only screen and (max-width: 400px) {
  

}
