.li{
    padding-top: 10px;
}

/* .form-email-contato{
    padding-top: 20px;
} */

.form-email-contato{
    padding-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn-success{
    height:48px;
    background-color:#05C0A3;
}


.default-container {
    padding-right: 0px;
    padding-left: 0px;
}

.ng-invalid.ng-touched:not(form) {
    border-color: red;
}

.label-error {
    color: red!important;
}

.field-error {
    color: red;
    font-weight: 300;
    margin-left: 5px;
    position: absolute;
}

.div-formulario {
    display: flex;
    flex-direction: row;
    height: 1000px;
    background: transparent linear-gradient(0deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    padding-right: 0px;
    padding-left: 0px;
}

.div-formulario-esquerdo {
    display: inline;
    letter-spacing: 0px;
    color: #3C5768;
    text-align: left;
}

.div-title-a {
    display: flex;
    margin-top: 30%;
}

.div-title-b {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.div-title-c {
    display: flex;
}

.div-group-arrow-components {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-preencha-formulario {
    display: flex;
    height: 65px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
}

.div-preencha-formulario {
    display: flex;
    height: 65px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 15px;
    opacity: 1;
    
}

.span-title-esquerdo { 
    font-size: 5rem;
    font-weight: 400;
}

.span-preencha-formulario {
    position: absolute;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 21px;
    margin-left: -5%;
}

.div-circle-arrow-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -5%;
}

.circle-arrow-icon {
    width: 94px;
    height: 94px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1;
    z-index: 10;
}

.arrow-icon-img {
    width: 45px;
    height: 50px;
    z-index: 20;
    position: absolute;
}

.div-formulario-direito {
    display: flex;
    padding-top: 6%;
}

.triangle-bottomright {
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 100px solid #FFFFFF;
    border-left: 500px solid transparent;
}

.div-form { 
    width: 500px;
    height: 750px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000033;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.ngbTitleCard{
    word-wrap: break-word;
    white-space: pre-wrap;
}

.form-span-title {
    color: #3C5768; 
    font-weight: bold; 
    font-size: 3rem;
}

.div-form span:nth-child(2) {
    margin-top: -15px;
}

.div-form label {
    color: #3C5768; 
    font-size: 40px;
    font-weight: 300;
}

.default-component {
    margin-top: 15px;
}

.form-text-box {
    width: 390px;
    height: 50px;
}

.div-aceitar-termos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.rb-aceitar-termos {
    width: 2em;
    height: 2em;
}

.lbl-aceitar-termos {
    font-size: 2em!important;
    margin-left: 17px;
    margin-bottom: 0px;
}

.btn-enviar {
    width: 175px;
    height: 60px;
    margin-top: 10px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.span-enviar {
    font-size: 2em;
    color: #FFFFFF;
}

.div-podemos-ajudar, .div-estatisticas, .div-faq {
    display: flex;
    flex-direction: column;
}

.div-podemos-ajudar-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 35px;
}

.span-title-ajudar {
    font-size: 3rem;
    font-weight: 400;
    color: #3C5768;
}

.container-card-ajudar, .container-card-estatisticas {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.container-card-faq {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: auto;
}

.div-card-ajudar-first {
    display: flex;
    flex-direction: row;
}

.div-card-ajudar-second {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.div-card-ajudar-third {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}


.card-video {
    padding-left: 100px;
    height: 200px;
    width:350px;
    opacity: 1;
    color: #3C5768;
}

.card-ajudar {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 0px 20px #00000033;
    color: #3C5768;
    height:auto; 
    padding-bottom: 30px;
}

.card-ajudar-2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 0px 20px #00000033;
    color: #3C5768;
    height:auto; 
    padding-bottom: 30px;
}

.card-ajudar-3 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 0px 20px #00000033;
    color: #3C5768;
    height:auto; 
    padding-bottom: 30px;
}

.card-ajudar div, .card-estatisticas div {
    text-align: center;
}

.card-icon {
    width: 115px;
    height: 115px;
    margin-top: 40px;
}

.card-span-title {
    margin-top: 5px;
    color: #3C5768; 
    font-weight: bold; 
    font-size: 3rem;
    text-align: center;
}

.div-card-ajudar-third .card-ajudar .card-span-title {
    line-height: 50px;
}

.card-span-text {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

.btn-card-first {
    width: 175px;
    height: 60px;
    margin-top: 25px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 10px;
}

.btn-card-second {
    width: 175px;
    height: 60px;
    margin-top: 25px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 10px;
}

.btn-card-third {
    width: 175px;
    height: 60px;
    margin-top: 25px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 10px;
}

.span-acessar {
    font-size: 2em;
    font-weight: 600;
    color: #FFFFFF;
}

.div-estatisticas {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.div-card-estatisticas-first {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.div-card-estatisticas-second {
    display: flex;
    flex-direction: row;
    margin-top: 170px;
}

.div-card-estatisticas-third {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.div-card-estatisticas-fourth {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    text-align:center;
}

.span-title-estatisticas {
    font-size: 3rem;
    font-weight: 400;
    color: #3C5768;
}

.card-estatisticas-first {
    height: 205px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 0px 20px #00000033;
    color: #3C5768;
}

.card-estatisticas-second {
    height: 205px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 0px 20px #00000033;
    color: #3C5768;
}

.card-estatisticas-third {
    height: 205px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 0px 20px #00000033;
    color: #3C5768;
}


.card-estatisticas-fourth {
    height: 240px!important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 0px 20px #00000033;
    color: #3C5768;
}

.card-estatisticas-span-title {
    margin-top: 5px;
    color: #3C5768; 
    font-weight: bold; 
    font-size: 4rem;
}

.card-estatisticas-span-text {
    margin-top: 10px;
    font-size: 2em;
    margin-top: -10px;
}

.card-estatisticas-span-text-fourth {
    margin-top: 10px;
    font-size: 1.8em;
    margin-top: -10px;
    padding-left: 0px;
    padding-right: 0px;
}

.div-faq-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.div-card-faq {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.span-title-faq {
    font-size: 5rem;
    font-weight: 400;
    color: #3C5768;
}

.card-faq {
    height:auto; 
    padding-bottom: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 0px 20px #00000033;
    color: #3C5768;
}

.card-faq div {
    text-align: left;
}

.card-faq-span-title {
    text-align: left;
    color: #3C5768;
    font-size: 2em;
    font-weight: 500;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div-span-faq {
    margin-top: 20px;
}

.div-faq-text {
    font-size: 2em!important;
    color: #3C5768!important;
}

.container-card-links {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.div-container-links {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:800px;
    height: 80px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    border-radius: 64px;
    opacity: 1;
}

.link-icon {
    height: 60px;
    width:60px;
    cursor: pointer;
}

.container-contato {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.div-contato {
    display: flex;
    flex-direction: column;
}

.span-contato {
    font-size: 4em;
    font-weight: 400;
    color: #3C5768;
}

.span-contato-text {
    font-size: 2em;
    font-weight: 300;
    color: #3C5768;
}

.div-contato-text-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.div-contato-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.div-contato-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.span-email-text {
    font-size: 1.5em;
    color: #3C5768;
}

.span-inscreva {
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
}

.btn-inscreva {
    width: 200px;
    height: 60px;
    background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 10px;
    
}

.div-rodape {
    margin-top: 100px;
    background: #3C5768 0% 0% no-repeat padding-box;
    opacity: 1;
}

.div-logo-branco {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-branco {
    margin-top: 100px;
    margin-bottom: 80px;
}

li {
    list-style-type: none;
  }

ngb-accordion {
    text-align: left;
} 

ngb-accordion title{
    text-align: left;
} 

.div-main-container-link{
    padding-top: 100px;
}

.card-ajudar-icon{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.card-ajudar-acessarbtn2{
    display:flex; 
    padding-top: 65px;
    justify-content: center; 
    align-items: center;

}

.card-ajudar-acessarbtn3{
    display:flex; 
    padding-top:170px;
    justify-content: center; 
    align-items: center;

}


@media only screen and (max-width: 768px){
  
    .div-title-a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30%;
    }
    .div-title-b {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
    }
    
    .span-title-esquerdo { 
        font-size: 3rem;
        font-weight: 400;
        
    }
    
    .card-video {
        padding-left: 30px;
        height: 200px;
        width:350px;
        opacity: 1;
        color: #3C5768;
    }

    .div-formulario {
        display: flex;
        flex-direction: row;
        height: 750px;
        background: transparent linear-gradient(0deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        padding-right: 0px;
        padding-left: 0px;
    }

    .div-circle-arrow-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: -12%;
    }

    .span-preencha-formulario {
        position: absolute;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 21px;
    }

    .div-formulario-esquerdo {
        display: inline;
        letter-spacing: 0px;
        color: #3C5768;
        text-align: left;
    }

    .form-span-title {
        color: #3C5768; 
        font-weight: bold; 
        font-size: 2rem;
    }

    .div-formulario-direito {
        display: flex;
        padding-top: 6%;
        text-align: left;
    }

    .div-formulario-direito-container {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .control-label{
    font-size: 20px;
    }

    .form-text-box {
        width: 240px;
        height: 50px;
    }

    .div-form span:nth-child(2) {
        margin-top: -15px;
    }
    
    .div-form label {
        color: #3C5768; 
        font-size: 20px;
        font-weight: 300;
    }

    .div-form { 
        width: 354px;
        height: 560px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 20px #00000033;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
    }

    .card-span-title {
        margin-top: 5px;
        color: #3C5768; 
        font-weight: bold; 
        font-size: 1rem;
        text-align: center;
    }

    .lbl-aceitar-termos {
        font-size: 1em!important;
        margin-left: 17px;
        margin-bottom: 0px;
    }

    .span-enviar {
        font-size: 1em;
        color: #FFFFFF;
    }

    .btn-enviar {
        width: 125px;
        height: 40px;
        margin-top: 10px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        border-radius: 20px;
    }

    .div-card-ajudar-first {
        display: block;
    }

    .div-card-ajudar-second {
        display: block;
    }

    .div-card-ajudar-third {
        display: block;
    }

    .btn-card-first {
        width: 120px;
        height: 40px;
        margin-top: 70px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        border-radius: 10px;
    }

    .btn-card-second {
        width: 120px;
        height: 40px;
        margin-top: 65px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        border-radius: 10px;
    }

    .btn-card-third {
        width: 120px;
        height: 40px;
        margin-top: 27px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        border-radius: 10px;
    }

    .span-acessar {
        font-size: 1em;
        font-weight: 600;
        color: #FFFFFF;
    }
    

    .container-card-ajudar{
        padding-left: 5px;
        padding-right:5px;
    }

    .card-ajudar {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
        height:1440px; 
        padding-bottom: 30px;
    }
    
    .card-ajudar-2 {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
        height:auto; 
        padding-bottom: 30px;
    }
    
    .card-ajudar-3 {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
        height:auto; 
        padding-bottom: 30px;
    }

    .card-ajudar-acessarbtn2{
        display:flex; 
        padding-top:285px;
        justify-content: center; 
        align-items: center;
    
    }

    .card-ajudar-acessarbtn3{
        display:flex; 
        padding-top:620px;
        justify-content: center; 
        align-items: center;
    
    }

    .card-estatisticas-span-title {
        margin-top: 5px;
        color: #3C5768; 
        font-weight: bold; 
        font-size: 2rem;
    }

    .card-estatisticas-span-text {
        margin-top: 1px;
        font-size: 1em;
    }

    .div-card-estatisticas-first {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
    .div-card-estatisticas-second {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
    .div-card-estatisticas-third {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
    .div-card-estatisticas-fourth {
        display: flex;
        flex-direction: row;
        text-align: center;
    }


    .card-estatisticas-first {
        height: 110px!important;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
    }
    
    .card-estatisticas-second {
        height: 110px!important;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
    }
    
    .card-estatisticas-third {
        height: 130px!important;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
    }
    
    .card-estatisticas-fourth {
        height: 130px!important;
    }

    .card-estatisticas-span-text-fourth {
        margin-top: 1px;
        font-size: 1em;
        padding-left: 0px;
        padding-right: 0px;
    }

    .span-contato {
        font-size: 3em;
        font-weight: 400;
        color: #3C5768;
    }

    .div-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width:250px;
        height: 40px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        border-radius: 64px;
        opacity: 1;
    }

    .div-container-links {
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .div-main-container-link{
        display: flex; 
        align-items: center; 
        justify-content: center;
        padding-top: 100px;
    }
    .link-icon {
        height: 30px;
        width:30px;
        cursor: pointer;
    }

    .ngbTitleCard{
        font-size: 13px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .ngbContentCard{
        font-size: 11px;
    }

    .btn-success {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */

    .div-formulario {
        display: block;
        height: 1100px;
        background: transparent linear-gradient(0deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
    }

    .div-formulario-esquerdo {
        display: block;
        letter-spacing: 0px;
        color: #3C5768;
        text-align: center;
        padding-top: 10px;
    }

    .div-title-a {
        display: block;
        margin-top: 10%;
    }
    .div-title-b {
        display: block;
        margin-top: -20px;
    }
    
    .span-title-esquerdo { 
        font-size: 2rem;
        font-weight: 400;
    }
    
    .card-video {
        padding-left: 0px;
        height: 200px;
        width:350px;
        opacity: 1;
        color: #3C5768;
    }

    .div-title-c {
        display: inline;
    }

    .div-group-arrow-components {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .arrow-icon-img {
        width: 45px;
        height: 50px;
        z-index: 20;
        position: absolute;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .container-preencha-formulario {
        display: flex;
        height: 65px;
        justify-content: left;
        align-items: left;
    }

    .triangle-bottomright {
        position: relative;
        width: 0;
        height: 0;
        border-bottom: 100px solid #FFFFFF;
        border-left: 345px solid transparent;
    }

    .div-form { 
        width: 345px;
        height: 550px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 20px #00000033;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left:0px;
        opacity: 1;
    }

    .span-title-ajudar {
        font-size: 2rem;
        font-weight: 400;
        color: #3C5768;
    }

    .div-card-ajudar-first {
        display: block;
    }

    .div-card-ajudar-second {
        display: block;
    }

    .div-card-ajudar-third {
        display: block;
        margin-top: 50px;
    }


    .card-ajudar {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
        height:auto; 
        padding-bottom: 30px;
    }
    
    .card-ajudar-2 {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
        height:auto; 
        padding-bottom: 30px;
    }
    
    .card-ajudar-3 {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
        height:auto; 
        padding-bottom: 30px;
    }

    .span-title-estatisticas {
        font-size: 21px;
        font-weight: 400;
        color: #3C5768;
    }

    .card-span-text{
        font-size: 1rem;
    }
    .container-card-ajudar, .container-card-estatisticas {
        display: block;
        margin-top: 30px;
    }

    .container-card-faq {
        display: block;
        margin-top: 30px;
        padding-left:5px;
        padding-right:5px;
    }

    .card-ajudar-acessarbtn2{
        display:flex; 
        padding-top: 10px;
        justify-content: center; 
        align-items: center;
    
    }
    
    .card-ajudar-acessarbtn3{
        display:flex; 
        padding-top:10px;
        justify-content: center; 
        align-items: center;
    
    }

    .btn-card-first {
        width: 120px;
        height: 40px;
        margin-top: 25px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        border-radius: 10px;
    }

    .btn-card-second {
        width: 120px;
        height: 40px;
        margin-top: 25px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        border-radius: 10px;
    }

    .btn-card-third {
        width: 120px;
        height: 40px;
        margin-top: 25px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        border-radius: 10px;
    }

    .div-estatisticas {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .div-card-estatisticas-first {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        text-align: center;
    }
    
    .div-card-estatisticas-second {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        text-align: center;
    }
    
    .div-card-estatisticas-third {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        text-align: center;
    }
    
    .div-card-estatisticas-fourth {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        text-align: center;
    }

    .card-estatisticas-first {
        height: 90px!important;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
    }
    
    .card-estatisticas-second {
        height: 90px!important;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
    }
    
    .card-estatisticas-third {
        height: 90px!important;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        box-shadow: 0px 0px 20px #00000033;
        color: #3C5768;
    }
    
    .card-estatisticas-fourth {
        height: 110px!important;
    }


    .div-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width:250px;
        height: 40px;
        background: transparent linear-gradient(90deg, #05C0A3 0%, #6EF1A1 100%) 0% 0% no-repeat padding-box;
        border-radius: 64px;
        opacity: 1;
    }

    .div-container-links {
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .div-main-container-link{
        display: flex; 
        align-items: center; 
        justify-content: center;
        padding-top: 100px;
    }

    .link-icon {
        height: 30px;
        width:30px;
        cursor: pointer;
    }

    .span-contato {
        font-size: 2em;
        font-weight: 400;
        color: #3C5768;
    }

    .div-faq-text {
        font-size: 1em!important;
        color: #3C5768!important;
        padding-top:30px;
        width:200px;
    }
    .form-email-contato{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .contianer-info {
        position: absolute;
        z-index: 999;
        top: -3%;
    }
    
    .div-verificar-title {
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-size: 6em;
        font-weight: 300;
    }
    
    .div-sub-title {
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-style: italic;
        font-size: 1.5em;
    }

    .default-container {
        padding-right: 0px;
        padding-left: 0px;
        height:200px;
    }
    .spantit{
        font-size: 14pt;
    }
    .spansubtit{
        font-size: 14pt;
    }
    .div-card-faq {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        width: 400px;
        margin-left: -40px;
    }

    .card-faq {
        padding-left: 5px;
        padding-right: 5px;
    }

    .ngbTitleCard{
        font-size: 13px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .ngbContentCard{
        font-size: 11px;
    }

    .logo-branco {
        width: 300px;
    }

}